.App{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  margin-bottom: 15px;
}

.sun{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
}